{{#component 'css'}}
<header>
  <div>
    <div class="logo"><img src="/apps/assets/images/lm.ico"></div>
    <div class="logo-name">千酌一梦醉独殇</div>
    <div class="index-login">Login</div>
  </div>
</header>
{{/component}}
