{{#component 'css'}}
  <nav>
    <input id='link-top' type='checkbox'>
    <label class='down' for='link-top'>
      <h2>Menu</h2>
    </label>
    <ul>
      <li>
        <input id='link-shop' type='checkbox'>
        <label class='right' for='link-shop'>Special effects</label>
        <!--
        <ul>
          <li>
            <a href='/sp/neon'>霓虹灯效果</a>
          </li>
          <li>
            <a href='/sp/box'>阴影</a>
          </li>
          <li>
            <a href='/sp/particle'>粒子写入</a>
          </li>
          <li>
            <a href='/sp/atmo'>大气科技感粒子</a>
          </li>
          <li>
            <a href='/sp/fold'>扁平化竖直折叠功能菜单</a>
          </li>
          <li>
            <a href='/sp/button'>按钮</a>
          </li>
        </ul>
 -->
      </li>
      <li>
        <a>Blog</a>
      </li>
      <li>
        <a>About</a>
      </li>
      <li>
        <a>Contact</a>
      </li>
    </ul>
  </nav>
{{/component}}
