footer {
	text-align:center;
  height: 100px;
  display: block;
  line-height: 100px;
  position: relative;
  background: url('/apps/assets/images/1.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: bottom center;
}
footer > div {
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
}
footer a {
	font-size: small;
}
