{{#component 'js css'}}
<div class="accordion">
   <div class="item">
		<img src="/apps/assets/images/sp/fold/Location-Pin.png" alt="">
		<h3>Location</h3>
   </div>
		<p style="display: block;">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
	<div class="item">
		<img src="/apps/assets/images/sp/fold/Headphones.png" alt="">
		<h3>Music</h3>
   </div>
	<p style="display: none;">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
	<div class="item">
		<img src="/apps/assets/images/sp/fold/Lightbulb.png" alt="">
		<h3>Notes</h3>
   </div>
		<p style="display: none;">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
	<div class="item">
		<img src="/apps/assets/images/sp/fold/Bookmarks.png" alt="">
		<h3>Books</h3>
   </div>
		<p style="display: none;">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
	<div class="item">
		<img src="/apps/assets/images/sp/fold/Lightning-Bolt.png" alt="">
		<h3>Tendances</h3>
   </div>
	   <p style="display: none;">t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
</div>
{{/component}}
